.masthead-container {
  background-image: image-url('landing_bg/491850284_c86bf9dcb3_o.jpg');
  background-position: top center;
  height: 600px;
  background-size: auto 150%;
  position: relative;

  @include background-attachment-fixed;

  @media (min-width: $screen-sm-min) {
    background-size: cover;
  }

  padding-top: $navbar-height;

  @media (min-width: $screen-sm-min) {
    padding-top: 0;
  }
}

.navbar-sticky {
  .navbar-brand {
    font-family: $font-family-logo;
    display: inline-block;
    float: none;
    padding: 13px 15px;

    img {
      height: 100%;
      display: inline;
    }
  }

  .play-btn {
    background: none;
    padding: 0;
    margin: 4px 0 8px;

    i {
      vertical-align: bottom;
      font-size: 30px;
      margin-right: 10px;
    }

    .play-text {
      font-size: 18px;
      font-weight: 300;
    }
  }

}

.navbar-non-sticky {
  background: none;
  border-bottom: none;

  nav li {
    font-color: $gray-base;
  }
}


.navbar-landing .navbar-cta {
  @media (min-width: $screen-sm-min) {
    height: $navbar-height;
    padding: 0;
    line-height: $navbar-height;
    span {
      display: inline-block;
      background-color: $brand-primary;
      color: white;
      line-height: 2;
      padding: 0 1em;
    }
  }
}

.jumbotron-landing {
  margin-bottom: 0;
  text-align: center;
  position: relative;
  background: none;
  padding-top: 0;

  .bounce {
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;

    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }

  .tag-line {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    //border: 5px solid $brand-primary;
    color: $gray-base;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    padding: 0.4em 1.2em;
    margin: 0 auto;
    @media (min-width: $screen-sm-min) {
      font-size: 30px;
    }
  }

  .scroll-btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 60px;
    margin-left: -30px;
  }

  .jumbotron-down-link {
    display: inline-block;
    color: $brand-primary;
    font-size: 60px;

    &:hover, &:visited, &:active, &:focus {
      text-decoration: none;
    }
  }

  .logo-large {
    max-width: 200px;
    margin: 20px 0;
  }

  .application-btn {
    border: none;
    margin-left: 15px;
    margin-top: 1em;
    height: 45px;
    padding-right: 22px;
    padding-left: 22px;
  }

  .play-btn {
    background-color: white;
    font-size: 18px;
    padding: 0.5em 1.25em;
    margin-top: 1em;
    color: $gray-base;
    .fa-play {
      margin-right: 0.5em;
    }
    &:hover {
      background-color: $gray-base;
      color: white;
      @include transition(all 0.3s)
    }
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 50px;
  }
}
